#parallax
	
	.layer(data-depth="0.6")
		.some-space
			h1 baxtr sites
		
	.layer(data-depth="0.4")
		#particles-js
		
	.layer(data-depth="0.3")
		.some-more-space
			a(href="https://github.com/baxter5469" target="_blank") Check out my sites!